  <mat-toolbar color="primary">
    Login
  <span class="flex-spacer"></span>
  <button mat-button mat-dialog-close>&times;</button>
</mat-toolbar>

<p>{{ user | json }}</p>

<form novalidate (ngSubmit)="onSubmit()">
  <mat-dialog-contet>
    <p>
      <mat-form-field>
        <input matInput placeholder="Username" type="text"
        [(ngModel)]="user.username" name="username">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="password" type="password"
        [(ngModel)]="user.password" name="password">
      </mat-form-field>
      <mat-checkbox [(ngModel)]="user.remember" name="remember">Remeber me</mat-checkbox>
    </p>
  </mat-dialog-contet>
  <mat-dialog-actions>
    <span class="flex-spacer"></span>
    <button mat-button mat-dalog-close>Cancel</button>
    <button mat-button type="submit" class="background-primary text-floral-white">Login</button>
  </mat-dialog-actions>
</form>

